/************************************ Common Style ************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 100vw;
    overflow-x: hidden;
}

.flex-container {
    width: fit-content;
    height: fit-content;
    display: flex;
}

.section-gap {
    margin: 10% 0;
}

.width-40p {
    width: 40vw;
}

h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
    color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin: 16px 0 18px 0;
}

.banner-p {
    color: #FFFFFF;
}

.card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #121212;
}

button {
    padding: 15px 20px;
    border: none;
    background: #EF233C;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

button:hover {
    background: #db152c;
}

a {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #EF233C;
}

.footer-heading {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #EF233C;
}

/************************************ Header Section Style ************************************/

header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0)), url(./image/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div {
    width: 50vw;
    height: auto;
}

/************************Section 2*****************************/

.section2 {
    width: 100vw;
    height: auto;
    margin-top: 3rem;
    padding: 33px;
    display: flex;
    column-gap: 64px;
    justify-content: center;
    align-items: center;
}

.vidimg {
    width: 30%;
    height: 20rem;
    background-image: url(./image/video-image.png);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.section2>img {
    height: 25rem;
}


/*****************************Section 3 ************************************/

.section3 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-text {
    width: 43vw;
    text-align: center;
}

.cards {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
}

.card {
    width: 420px;
    height: fit-content;
    display: flex;
    column-gap: 20px;
    background: #FEF4F5;
    border-radius: 10px;
    padding: 26px;
}

/********************************Gallery Section******************************************/
.gallery {
    width: 90vw;
    margin: auto;
    height: auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

/*************************Heart Section*************************************/
.heart-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.heart-card {
    width: 350px;
    height: fit-content;
    border: 1px solid gray;
    border-radius: 15px;
}

.heart-card img {
    width: 100%;
}

.heart-text {
    padding: 20px;
}

.heart-text-header {
    width: 60vw;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header>div {
        width: 90%;
        text-align: center;
        font-size: 3rem;
        height: auto;
    }

    .section2 {
        width: 100vw;
        height: auto;
        padding: 33px;
        display: flex;
        flex-direction: column-reverse;
        column-gap: 64px;
        justify-content: center;
        align-items: center;
    }

    .m-width {
        width: 100%;
        margin: 1rem 0;
    }

    .m-padding {
        padding: 1.5rem;
    }

    .left-align {
        text-align: left;
    }

    .card {
        width: 90vw;
        height: auto;
        gap: 2rem;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery img {
        width: 100%;
    }

    .heart-cards {
        flex-direction: column;
        align-items: center;
    }

    .section2 {
        flex-direction: column;
    }

    .section2>img {
        width: 100%;
    }
}